# 🔐 Credenciais sensíveis
credenciais.json
.streamlit/secrets.toml
.streamlit/credenciais.json

# 🔁 Caches e arquivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧪 Ambientes virtuais
.env
venv/

# 🧾 Logs, banco e arquivos temporários
*.log
*.sqlite3
*~$*

# 🧮 Dados e planilhas
*.xlsx
*.csv
pages/dados/

# 🧰 Arquivos de backup/zip
*.zip

# 💻 Arquivos de sistema
.DS_Store
Thumbs.db
